.contenedor{

    width: 960px;
    height: 40px;
    margin:0 auto;
    align-content: center;
    vertical-align: middle;
    border-bottom: #cccccc;
    border-style: solid;
    border-right: white;
    border-top: white;
    border-left: white;
   
}   

.nombre,.menu1{
display: inline-block;
overflow: hidden;
padding: 0px;
vertical-align: middle;
}

.menu1{
    list-style-type: none;
    
    
}

contenedor .nombre a{
    vertical-align: middle;
    text-align: center;

}
  


.nombre{
    float: left;
	background-color: #4aaaa5;
	color: #ffffff;
	height: 40px;
	width: 200px;
	margin-left: 0px;
	margin-bottom: 0px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
    vertical-align: middle;
    
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

}

li{
    
    vertical-align: middle;
    float: right;
    vertical-align: middle;

}

li a{
    style:inline;
    list-style-type: none;
    float: right;
    vertical-align: middle;
    padding: 5px;
    color: #cccccc;
    text-decoration: none;


}

nav{
    
    width: 960px;
    height: 60px;
  

}

